<section class="container" *ngIf="validation===true">
<table id="TablaFactura" class="table container direccionTabla">
  <thead>
    <tr>
      <th scope="col" >Habitacion</th>
      <th scope="col">Eventos</th>
      <th scope="col">Servicios</th>
    </tr>
  </thead>
    <td >
      <tr scope="row" *ngFor="let habitaciones of listaHabitacion">{{habitaciones.numeroDeHabitacion}}</tr>
    </td>
    <td >
      <tr scope="row" *ngFor="let evento of listaEvento">{{evento.nombreEvento}}</tr>
    </td>
    <td >
      <tr scope="row" *ngFor="let servicio of listaServicio">{{servicio.nombreServicio}}</tr>
    </td>
    <tfoot>
      <tr>
        <td colspan="2">
           Total:
        </td>
        <td>
          <tr scope="row" >{{total}}</tr>
        </td>
      </tr>
    </tfoot>
</table>
<button (click)="generarFactura()" class="btn btn-success mt-3"> Generar Factura</button>
</section>
<section class="container mb-5 direccionTabla" *ngIf="validation===false">
  <div class="alert alert-warning text-center" role="alert">
    <h4 class="alert-heading">¡Lo sentimos!</h4>
    <p>Al parecer no hay factura que visualizar en este momento, ¡Por favor revisa mas tarde!</p>
    <hr>
  </div>
</section>
