<table class="table caption-top direccionTabla">
  <caption>{{_facturaServices.obtenerIdentidad().nombre}}</caption>
  <thead>
    <tr>
      <th scope="col">Habitacion</th>
      <th scope="col">Eventos</th>
      <th scope="col">Servicios</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let habitaciones of listaHabitacion">
      <td >{{obtenerHabitacionNombre(habitaciones.idHabitacion)}}</td>
    </tr>
    <!-- <tr *ngFor="let evento of listaEvento">
      <td >{{obtenerEventoNombre(evento.idEvento)}}</td>
    </tr> -->
    <!-- <tr *ngFor="let servicio of listaServicio">
      <td >{{obtenerServicioNombre(servicio.idServicio)}}</td>
    </tr> -->
  </tbody>
</table>
