.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }

    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 90%;
    }
    }

    .btn-guardar{
      background-color: rgb(79, 159, 132);
      color: blue;
      border-radius: 55px;
    }
