<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
      <h1><a href="index.html">Grupo 1</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul >
        <!-- redireccionamiento de usuario -->
        <li><a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_USUARIO'" class="nav-link" routerLinkActive="activate" routerLink="/usuario/bienvenida">Home</a></li>
        <li><a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_USUARIO'" class="nav-link" routerLinkActive="activate" routerLink="/usuario/inicio">Hoteles</a></li>

        <!-- redireccionamiento de admin -->
        <li><a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMIN' || _usuarioService.obtenerIdentidad().rol === 'ROL_SUPERADMIN'" class="nav-link" routerLinkActive="activate"routerLink="/admin/bienvenida">Home</a></li>
        <li><a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMIN' || _usuarioService.obtenerIdentidad().rol === 'ROL_SUPERADMIN'" class="nav-link" routerLinkActive="activate"routerLink="/admin/inicio">Hoteles</a></li>

        <li class="dropdown"><a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMIN' || _usuarioService.obtenerIdentidad().rol === 'ROL_SUPERADMIN' || _usuarioService.obtenerIdentidad().rol === 'ROL_USUARIO'"><span>Perfil</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <!-- usuario -->
            <li><a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_USUARIO'" routerLink="/usuario/editar-perfil">Editar perfil</a></li>
            <li><a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_USUARIO'" [routerLink]="['/usuario/factura', _usuarioService.obtenerIdentidad()._id]" >Generar factura</a></li>
            <!-- admin -->
            <li><a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMIN' || _usuarioService.obtenerIdentidad().rol === 'ROL_SUPERADMIN'" routerLink="/admin/editar-perfil">Editar perfil</a></li>

            <li class="dropdown"><a href="/login" (click)="cerrarSesion()"><span>Cerrar sesion</span> <i class="bi bi-chevron-right"></i></a>
            </li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End #header -->
