
<section id="hero">
    <div class="hero-container">
      <h1>Bienvenidos a gestion de Hoteles Grupo 1</h1>
      <h2>Los mejores hoteles dentro de esta grandiosa pagina</h2>
      <a href="#about" class="btn-get-started scrollto" routerLinkActive="activate" routerLink="/login">Empieza Ya!</a>
    </div>
  </section><!-- #hero -->

<main id="main">

<!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

          <div class="section-title">
            <h2>Nuestros servicios y sobre nosotros</h2>
            <p>Nosotros somos una empresa que facilita la transaccion y la reservacion de un hotel con sus servicios,habitaciones y eventos</p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi bi-cpu"></i></div>
              <h4 class="title"><a>Servicio de reservacion</a></h4>
              <p class="description">Dentro de nuestro marco reservacion nuestra pagina posee uno de los servicios mas eficientes y faciles de usar.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4 class="title"><a>Servicio de eventos</a></h4>
              <p class="description">Nuestra pagina facilita la participacion de las personas que quieran participar en los eventos que tiene disponible el hotela en el que se hospeda.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi bi-globe"></i></div>
              <h4 class="title"><a>Servicio de hospedaje</a></h4>
              <p class="description">Los hoteles que estan asociados a nuesta pagina poseen los mejores servicios de habitacion de todo el mundo.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi bi-images"></i></div>
              <h4 class="title"><a>Servicio de comida</a></h4>
              <p class="description">Nuestros hoteles poseen a los mejores chefs del mundo por lo cual hay mucha variedad en comida en cada hotel que tenemos en nuestra pagina.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi bi-sliders"></i></div>
              <h4 class="title"><a>Servicio de Spa</a></h4>
              <p class="description">Muchos de nuestros hoteles poseen uno de los mejores servicios de spa en el mundo</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi bi-building"></i></div>
              <h4 class="title"><a>Variedad de hoteles</a></h4>
              <p class="description">En nuesta pagina web podras visualizar diversad variedades de hoteles que estan situadas en distintas partes del mundo</p>
            </div>
          </div>

        </div>
      </section><!-- End Services Section -->

   <!-- ======= Call To Action Section ======= -->
   <section class="call-to-action">
    <div class="container">

      <div class="text-center">
        <h3>Visualiza nuestros hoteles</h3>
        <p>Al darle clic al boton podra visualizar los hoteles que tenemos disponibles en nuesta pagina web.</p>

        <a *ngIf="redireccionamiento() === 0" class="cta-btn" href="#" routerLink="/inicio">clic aqui!</a>
        <a *ngIf="redireccionamiento() === 1" class="cta-btn" href="#" routerLink="/usuario/inicio">clic aqui!</a>
        <a *ngIf="redireccionamiento() === 2" class="cta-btn" href="#" routerLink="/admin/inicio">clic aqui!</a>
      </div>

    </div>
  </section><!-- End Call To Action Section -->

   <!-- ======= Our Portfolio Section ======= -->
   <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Fotos de nuestros hoteles</h2>
      </div>

      <!--<div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>-->

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <!--<img src="https://www.flickr.com/photos/jurek_durczak/32469841008/" class="img-fluid" alt="">-->
            <img src="https://live.staticflickr.com/7178/6940235635_1e715823e0_k.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="https://live.staticflickr.com/8194/8368010905_23273e23f3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="https://live.staticflickr.com/7303/12120218036_ddd2c575c4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="https://live.staticflickr.com/3129/3244015237_be5889ed6d.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="https://live.staticflickr.com/65535/51897424076_b791102040.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="https://live.staticflickr.com/5297/5522548849_05f1549a89.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="https://live.staticflickr.com/8285/7493738814_5ba1a79896.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="https://live.staticflickr.com/8063/8223835128_a2215244fc.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="https://live.staticflickr.com/8316/8042881093_29cc2d5236.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <div>
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1"><i class="bi bi-plus"></i></a>
                <!--<a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>-->
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Our Portfolio Section -->

   <!-- ======= Frequently Asked Questions Section ======= -->
   <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Preguntas frecuentes</h2>
      </div>

      <ul class="faq-list">

        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">A que se dedica la pagina? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Nosotros como grupo facilitamos el acceso para las reservaciones de los hoteles que guste visitar el usuario.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Cual es nuestra mision? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Nuestra mision es que el usuario se le facilite el uso de nuestra pagina y que tengamos un servicio corre y eficiente.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Cual es nuestra vision? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Nuestra vision es ser una de las grandes paginas de reservaciones de hoteles en todo el mundo.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Cuales son nuestras metas? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Nuestras metas son ser una gran empresa con un servicio eficiente de por medio para que el usuario tenga preferencia a nosotros.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Que buscamos facilitar? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              La reservacion de hoteles con sus debidos servicios.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Cuales son nuestros objetivos? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              Nuestros objetivos son claros los cuales son: ser una de las mejores paginas web dentro de todo el mundo a nivel de nuestro servicio el cual es la reservacion de hoteles.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- End Frequently Asked Questions Section -->
