<!-- modal agregar -->
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary buttonAgregar mt-5" data-bs-toggle="modal" data-bs-target="#modalAgregar">
  Agregar Hoteles
</button>-->

<!-- Modal -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-verde">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Hoteles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #agregarHotel="ngForm">
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre del hotel</label>
            <input type="text" class="form-control" id="inputNombre" name="nombre" #nombre="ngModel"
              [(ngModel)]="hotelModelPost.nombre">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Direccion del hotel</label>
            <input type="text" class="form-control" id="inputDireccion" name="direccion" #direccion="ngModel"
              [(ngModel)]="hotelModelPost.direccion">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Pais</label>
            <input type="text" class="form-control" id="inputPais" name="pais" #pais="ngModel"
              [(ngModel)]="hotelModelPost.pais">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
            (click)="postHotel(agregarHotel)">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="hero">
  <div class="hero-container">
    <h1>Hoteles</h1>
    <h2>Aqui podra encontrar los mejores hoteles a su conveniencia </h2>
  </div>
</section>


<div class="container  min-vh-100 py-4">
  <div class="row">
      <div class="col-md-5 mx-auto">
          <div class="small fw-light color-texto text-center"><h5>¿Hotel que desea buscar?</h5></div>
          <div class="input-group">
              <input class="form-control border-end-0 border rounded-pill" [(ngModel)]="buscar" name="buscar" placeholder="nombre del hotel"  type="search" value="search" id="example-search-input">
              <span class="input-group-append">
                  <button class="btn btn-outline-info bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                    Buscar
                  </button>
              </span>
          </div>
      </div>
  </div>

<section class="espacio"></section>

<div class="container">
  <button type="button" class="btn btn-success my-3 "
data-bs-toggle="modal" data-bs-target="#modalAgregar" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_ADMIN' || _hotelesService.obtenerIdentidad().rol === 'ROL_SUPERADMIN'">Agregar Hotel</button>
</div>

<section class="container" *ngIf="_hotelesService.obtenerHoteles()==undefined">
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">¡Lo sentimos!</h4>
    <p>Al parecer no hay hoteles que visualizar en este momento, ¡Por favor revisa mas tarde!</p>
    <hr>
    <p class="mb-0" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_ADMIN'">O ¡Puedes agregar un nuevo hotel!</p>
  </div>
</section>


<section class="container">
  <div class="row  gx-3 gy-3 align-items-center" style="height: 50vh" >
    <div class="col" *ngFor="let hotel of hotelModelGet  |buscar:buscar">
      <div class="card mb-5" style="width: 18rem;">
        <img src="https://live.staticflickr.com/2227/2115636556_f57c57b98d.jpg" class="card-img-top" >
        <div class="card-body">
          <p class="card-text">Nombre del Hotel: {{hotel.nombre}}</p>
          <p class="card-text">Direccion del Hotel: {{hotel.direccion}}</p>
          <p class="card-text">Pais: {{hotel.pais}}</p>
          <div style="width: 80%; background: transparent; margin: 5px auto; padding:1px " >
            <button style=" width: 45%;" type="button" class="btn btn-warning mx-1" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
              (click)="getHotelesId(hotel._id)" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_ADMIN'">Editar
            </button>
            <button style="width:45%;" type="button" class="btn btn-danger mx-1"
            (click)="deleteHotel(hotel._id)" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_ADMIN'">Eliminar</button>
          </div>
        </div>
        <div class="card-footer">
          <div style="width: 80%; background: transparent; margin: 5px auto; padding:1px ">
              <!-- usuario -->
            <button  style="display:block; width: 75%; margin: 5px auto;"type="button" class="btn btn-success" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_USUARIO'"  [routerLink]="['/usuario/habitaciones', hotel._id]">Ver Habitaciones</button>
            <button  style="display:block; width: 75%; margin: 5px auto;"type="button" class="btn btn-warning" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_USUARIO'"  [routerLink]="['/usuario/eventos', hotel._id]">Ver Eventos</button>
            <button  style="display:block; width: 75%; margin: 5px auto;"type="button" class="btn btn-primary" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_USUARIO'"  [routerLink]="['/usuario/servicios', hotel._id]">Ver Servicios</button>
            <!-- admin -->
            <button  style="display:block; width: 75%; margin: 5px auto;"type="button" class="btn btn-success" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_ADMIN' || _hotelesService.obtenerIdentidad().rol === 'ROL_SUPERADMIN'" [routerLink]="['/admin/habitaciones', hotel._id]">Ver Habitaciones</button>
            <button  style="display:block; width: 75%; margin: 5px auto;"type="button" class="btn btn-warning" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_ADMIN' || _hotelesService.obtenerIdentidad().rol === 'ROL_SUPERADMIN'" [routerLink]="['/admin/eventos', hotel._id]">Ver Eventos</button>
            <button  style="display:block; width: 75%; margin: 5px auto;"type="button" class="btn btn-primary" *ngIf="_hotelesService.obtenerIdentidad().rol === 'ROL_ADMIN' || _hotelesService.obtenerIdentidad().rol === 'ROL_SUPERADMIN'" [routerLink]="['/admin/servicios', hotel._id]">Ver Servicios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #hero -->

<!-- offcanvas editar -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header bg-verde">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Editar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Nombre del hotel</label>
        <input type="text" class="form-control" id="inputNombre" name="nombre" #nombre="ngModel"
          [(ngModel)]="hotelModelGetId.nombre">
      </div>
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Direccion del hotel</label>
        <input type="text" class="form-control" id="inputDireccion" name="direccion" #direccion="ngModel"
          [(ngModel)]="hotelModelGetId.direccion">
      </div>
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Pais</label>
        <input type="text" class="form-control" id="inputPais" name="pais" #pais="ngModel" [(ngModel)]="hotelModelGetId.pais">
      </div>
      <div style="width: 70%; background: transparent; margin: 5px auto; padding:1px ">
        <button style=" width: 45%; margin: 0 5px;" class="btn btn-danger " data-bs-dismiss="offcanvas">Cerrar</button>
        <button  style=" width: 45%; margin: 0 5px;" class="btn btn-success " data-bs-dismiss="offcanvas" (click)="putHotel()">Actualizar</button>
      </div>
    </form>
  </div>
</div>
