<!-- modal agregar -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary buttonAgregar mt-5" data-bs-toggle="modal" data-bs-target="#modalAgregar">
  Agregar Hoteles
</button>

<!-- Modal -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Hoteles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="postForm" novalidate>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Direccion</label>
            <input formControlName="direccion" type="text" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Pais</label>
            <input formControlName="pais" type="text" class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button [disabled]="!postForm.valid" type="submit" data-bs-dismiss="modal" class="btn btn-primary" (click)="postHotel()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- card listar -->
<!--<div class="container">
  <div class="row">
    <ng-container>
      <div class="col-12 col-md-6 mt-4 "*ngFor="let hotel of hotelModelGet">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250 bg-color tamaño" *ngIf="validation==true">
          <div class="card-body d-flex flex-column align-items-start" *ngIf=" getHotelDisponible(hotel.nombre)">
            <div class="disponibilidad" *ngIf="contador != 0" >
                Disponible
            </div>
            <div class="noDisponibilidad" *ngIf="contador >= 0">
                No disponible
            </div>
            <strong class="d-inline-block mb-2 text-primary" style="font-size:30px">{{hotel.nombre}}</strong>
            <div class="row">
              <div class="col-2">
                <i class="fa-solid fa-location-dot" style="font-size: 20px; color: green;"></i>
              </div>
              <div class="col-10">
                {{hotel.direccion}}
              </div>
            </div>
            <p class="card-text mb-auto mt-5">
              <button class="btn btn-danger" (click)="deleteHotel(hotel._id)">Eliminar</button>
              <button class="btn btn-warning"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
              aria-controls="offcanvasScrolling" (click)="getHotelesId(hotel._id)">Editar</button>
              <button class="btn btn-primary">Ver</button>
            </p>
          </div>
          <div>
            <h6 class="direccion">{{hotel.pais}}</h6>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" width="300px">
          </div>
        </div>
        <div class="row justify-content-center align-items-center" style="height: 90vh"
          *ngIf="validation === false">
          <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading">Lo sentimos</h4>
            <p>No hay ningun hotel</p>
            <hr>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>-->

<!-- offcanvas editar -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Editar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="editForm" (ngSubmit)="putHotel()" novalidate>
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Direccion</label>
        <input formControlName="direccion" type="text" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Pais</label>
        <input formControlName="pais" type="text" class="form-control" required>
      </div>
      <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas">Cancelar</button>
      <button type="submit" class="btn btn-success">Cambiar</button>
    </form>
  </div>
</div>
