<!-- modal agregar -->
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary buttonAgregar mt-5" data-bs-toggle="modal" data-bs-target="#modalAgregar">
  Agregar Hoteles
</button>-->

<!-- Modal -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Hoteles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="postForm" novalidate>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Direccion</label>
            <input formControlName="direccion" type="text" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Pais</label>
            <input formControlName="pais" type="text" class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button [disabled]="!postForm.valid" type="submit" data-bs-dismiss="modal" class="btn btn-primary"
          (click)="postHotel()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<section id="hero">
  <div class="hero-container">
    <h1>Hoteles</h1>
    <h2>Aqui podra encontrar los mejores hoteles a su conveniencia </h2>
  </div>
</section>
<section class="espacio"></section>
<section class="container">
  <div class="row  gx-3 gy-3 align-items-center" style="height: 75vh" *ngFor="let hotel of hotelModelGet">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://live.staticflickr.com/2227/2115636556_f57c57b98d.jpg" class="card-img-top" >
        <div class="card-body">
          <p class="card-text">Nombre del Hotel: {{hotel.nombre}}</p>
          <p class="card-text">Direccion del Hotel: {{hotel.direccion}}</p>
          <p class="card-text">Pais: {{hotel.pais}}</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar</button>
          <button type="button" class="btn btn-warning"data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"(click)="getHotelesId(hotel._id)" >Editar </button>
          <button type="button" class="btn btn-danger" (click)="deleteHotel(hotel._id)">Eliminar</button>
        </div>
        <button type="button" class="btn btn-success">Ver Habitaciones</button>
      </div>
    </div>
  </div>
</section>
<!-- #hero -->

<!-- offcanvas editar -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Editar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="editForm" (ngSubmit)="putHotel()" novalidate>
      <div class="mb-3">
        <label class="form-label" for="inputNombre">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Direccion</label>
        <input formControlName="direccion" type="text" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Pais</label>
        <input formControlName="pais" type="text" class="form-control" required>
      </div>
      <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas">Cancelar</button>
      <button type="submit" class="btn btn-success">Cambiar</button>
    </form>
  </div>
</div>
